# Database connection string
MODE="development"
DSN=
DATABASE_URL=

# JWT secret token
TOKEN=
#JWT expired time in days
EXPIRED_AT=1


# Stripe tokens
STRIPE_TOKEN=
STRIPE_RETURN_URL=
STRIPE_WEBHOOK_SECRET=

# Redis
REDIS_USER=
REDIS_USER_PASSWORD=
REDIS_CACHE=
REDIS_ADDR=
REDIS_PASSWORD=

#RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_AMQP=
RABBIT_CONSUMERS=

# Mailer (SMTP)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=